@use './utils.scss';

:root{
  --both-sides-padding: 20px;

  --main-bg-color: #f1f4f9;
  --main-font-color: #565656;
  --mark-bg-color: #F5F7FA;
  --mark-font-color: #999;
  --active-bg-color: #e5f2f1;
  --active-font-color: #2f5ac7;
  --line-color: #eee;

  --scrollbar-width: 6px;
  --scrollbar-color: #ddd;

  @include utils.mediaSmall() {
    --both-sides-padding: 16px;
  }
}
@include utils.themeDark() {
  --main-bg-color: #282828;
  --main-font-color: #b1babd;
  --mark-bg-color: #0e2a35;
  --active-bg-color: #3c3c3c;
  --active-font-color: #8cb4ff;
  --line-color: #4f4f4f;
}

body{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb{
  background: var(--scrollbar-color);
  border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-track{
  background: var(--mark-bg-color);
}
@include utils.themeDark{
  --scrollbar-color: #888;
}