
.progress{
  --height: 6px;
  height: var(--height);
  border-radius: calc(var(--height) / 2);
  background: #e5e5e5;
  position: relative;
  cursor: pointer;
  margin: 16px 0;

  &::before, &::after{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: calc(var(--height) / 2);
  }
  &::before{
    width: var(--load);
    background: #bbb;
  }
  &::after{
    width: var(--left);
    background: red;
  }
  .point{
    --size: calc(var(--height) + var(--height) / 2);
    width: var(--size);
    height: var(--size);
    background: white;
    box-shadow: 0 0 4px rgba(255,255,255,.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: var(--left);
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  &:hover .point{
    transform: translate(-50%, -50%) scale(1.6);
  }
}
